@use '../media';
@use '../mixins';
.burger-button {
  @include mixins.reset-button;
  @include mixins.square(32px);

  position: relative;

  @include media.tablet {
    @include mixins.square(23px);
  }

  @include media.hover {
    background-color: var(--color-red);
    border-radius: 3px;
  }

  &::before {
    @include mixins.abs-center;

    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
    top: 40%;

 
  }

  &::after {
    @include mixins.abs-center;

    content: '';
    width: 50%;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 5px;
    box-shadow: 0 12px;
    top: 40%;
    @include media.tablet {
      box-shadow: 0 8px;
    }
    translate: -100% -50%;

   
  }
}