.button {
  @include flex-center(true);

  height: var(--button-height);
  font-size: 14px;
  color: var(--color-light);
  background-color: var(--color-red);
  border-radius: var(--border-radius);
  font-family: var(--font-family-h);
  border-width: 0;
  width: 190px;
  line-height: 14px;
  @include hover {
    color: var(--color-dark);
    background-color: var(--color-red-hover);
  }

  &--transparent {
    background-color: transparent;
  }
}