.footer {
  background: linear-gradient(to right, var(--color-dark-footer) 50%, #2A2A2E 50%);
  @include mobile {
    background: linear-gradient(to bottom, var(--color-dark-footer) 50%, #2A2A2E 50%);
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include mobile {
      grid-template-columns: 1fr;
    }
 
  }
  &__left {
    color: var(--color-light);
    margin-top: 63px;
    @include mobile {
      margin-top: 41px;
    }
  }
  &__right {
    color: var(--color-light);
    margin-top: 63px;
    margin-left: 127px;

    @include mobile {
      margin-top: 39px;
      margin-left: 0px;
    }
    &-button {
      background-color: transparent;
      border: 2px solid var(--color-dark-border);
    }
  }

  &__material {
    &-list {
      font-size: 24px;
      height: 166px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 97px;
    &-mail {
      font-size: 24px;
      color: var(--color-red);
      line-height: 34px;
    }
    &-number {
      font-size: 25px;
    }
  }

  &__line {
    width:100%;
    border-top: 
    1px solid #C9C9CF;
  }


  &__navigation {
    &-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 488px;
      column-gap: 24px;
      margin-bottom: 67px;
      margin-top: 69px;
    }

    &-item {
      font-size: 16px;
      color: var(--color-dark-alt);
    }
  }
}