.footer {
  background: linear-gradient(to right, var(--color-dark-footer) 50%, #2A2A2E 50%);
  @include mobile {
    background: linear-gradient(to bottom, var(--color-dark-footer) 50%, #2A2A2E 50%);
  }
  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-height: 399px;
    @include tablet {
      max-height: 100%;
    }
    @include mobile {
      grid-template-columns: 1fr;
    }
 
  }
  &__left {
    color: var(--color-light);
    margin-top: 63px;
    @include tablet {
      margin-top: 43px;
      max-height: 359px;
    }
    @include mobile {
      margin-top: 41px;
      max-height: 348px;
    }
  }
  &__right {
    color: var(--color-light);
    margin-top: 63px;
    margin-left: 127px;
    @include tablet {
      margin-top: 43px;
      margin-left: 40px;
    }
    &-address {
     font-size: 16px;
    }

    &-body {
      margin-bottom: 50px;
    }

    @include mobile {
      margin-top: 39px;
      margin-left: 0px;
    }
    &-button {
      background-color: transparent;
      border: 2px solid var(--color-dark-border);

      @include mobile {
        margin-bottom: 20px;
      }
    }
    &-extra{
      &-link{
        :hover {
          color: var(--color-red);
        }
      }
    }
  }

  &__material {
    &-list {
      font-size: 24px;
      height: 166px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-item {
      :hover {
        color: var(--color-red);
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    margin-bottom: 130px;
    white-space: nowrap;
    @include tablet {
      margin-bottom: 0px;
    }
    
    &-mail {
      font-size: 24px;
      color: var(--color-red);
      line-height: 34px;
    }
    &-number {
      font-size: 25px;
      text-transform: uppercase;
    }
  }

  &__line {
    width:100%;
    border-top: 
    1px solid var(--color-dark-alt);
  }


  &__navigation {
    &-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 488px;
      column-gap: 24px;
      margin-bottom: 67px;
      margin-top: 69px;
    }

    &-item {
      font-size: 16px;
      color: var(--color-dark-alt);
      :hover {
        color: var(--color-light);
      }
    }
  }
  &__line{
    margin-top: 45px;
  }
  &__extra {
    &-body {
      font-size: 13px;
      color: white;
      display: flex;
      justify-content: space-evenly;
      color: var(--color-dark-alt);
      margin-top: 21px;
      height: 47px;

      @include mobile {
        flex-direction: column;
        margin-left: 15px;
      }
    }
  }

}