@use '../media';
.header {
  padding-top: 13px;
  padding-bottom: 15px;
  @include media.tablet {
    padding-top: 14px;
    padding-bottom: 14px;
  }
  @include media.mobile {
    padding-top: 10px;
    padding-bottom: 15px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 59px;

    @include media.tablet {
      column-gap: 48px;
    }

    @include media.mobile {
      column-gap:normal;
      margin-left: 30px;
    }
  }

  &__logo {
    @include media.tablet {
      max-width: 90px;
    }

    @include media.mobile {
      max-width: 67px;
    }
    &-mobile {
      margin: auto;
    }
  }

  &__menu {
    margin-right: auto;
    font-size: 15px;

    @include media.tablet {
      font-size: 14px;
    }

    &-list {
      display: flex;
      align-items: center;
      column-gap: 46px;

      @include media.tablet {
        column-gap: 20px;
      }
    }

    &-link {
      position: relative;
      display: inline-flex;
      align-items: center;
      height: 48px;

      @include media.hover {
        &::after {
          width: 100%;
        }
      }

      &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        translate: -50%;
        width: 0;
        height: 2px;
        background-color: currentColor;
        transition-duration: inherit;
      }
    }
  }
  &__contacts {
    display: flex;
    flex-direction: column;
    white-space: nowrap;

      &-number {
        font-weight: 500;
        font-size: 15px;
      }

      &-mail {
        color: var(--color-dark-alt);
        font-size: 13px;
      }
  }

  &__icons {
    display: flex;
    margin-left: auto;
    @include media.desktop {
      margin-left: 0;
    }
    @include media.tablet {
      margin-left: auto;
    }
    @include media.mobile {
      margin: 0;
    }
    &-search {
      margin-left: 23px;
      @include media.tablet {
        margin-left: 28px;
      }
    }
  }

  &__button {
    @include media.hover {
      border-color: var(--color-red);
      background-color: dotted;
    }
  }
}