@use '../media';
.section {
  // padding-block: var(--section-padding-y);

  &--hidden-x {
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
    align-items: center;
    justify-content: space-evenly;

    &-list {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      column-gap: 14px;
      font-size: 12px;
      color: var(--color-dark-alt)
    }

    &-line {
       width: 100%; 
       border-top: 
       1px solid #C9C9CF;
    }

    &-menu{
      margin-top: 21px;
      margin-bottom: 25px;
      @include media.tablet {
        margin-top: 16px;
        margin-bottom: 18px;
      }
      @include media.mobile {
        margin-top: 16px;
        margin-bottom: 16px;
      }
    }

    &-title{
      margin-top: 24px;
      margin-bottom: 30px;

      @include media.tablet {
        margin-top: 15px;
        margin-bottom: 15px;
      }
      @include media.mobile {
        margin-top: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &__description {
    max-width: 580px;
  }
}